Flask
Flask-BasicAuth
# flask-debugtoolbar
Flask-Login
Flask-Mail
Flask-Principal
Flask-Script
Flask-Security
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
Flup
Requests
MySQL-python
SQLAlchemy

## might be necessary to pin these
# Jinja2
# Werkzeug
# WTForms
# itsdangerous
# MarkupSafe
# passlib
# blinker

## probably unnecessary to pin
# setuptools
# wheel
# pip
# pkg-resources
